<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean class="com.lanchplace.repository.inmemory.InMemoryUserRepository" id="inmemoryUserRepository"/>

    <bean class="com.lanchplace.service.UserService">
        <constructor-arg name="userRepository" ref="inmemoryUserRepository"/>
    </bean>
</beans>